.login-container {
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  width: 500px;
  border-radius: 7px;
}
.login-text {
    color: #003BE5;
    align-self: center;
    font-size: 35px;
    margin-top: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form-input {
    background-color: transparent;
    border: solid #003BE5 1px;
    border-radius: 5px;
    height: 40px;
    width: 330px;
    margin-top: 10px;
}

.form-input::placeholder {
    color: #003BE5;
    text-align: left;
    padding: 5px;
}

.form-button {
   background-color: #003BE5;
    width: 330px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #ddd;
}
.form-button:disabled {
    background-color: #0039e583;
    color: #eee;

}

@media (max-width: 450px) {

    .login-container {
        width: 250px;
      }
      .login-text {
        font-size: 20px;
        margin-top: 10px;
    }
    .form-input {
        height: 30px;
        width: 200px;
        margin-top: 5px;
    }

    .form-input::placeholder {
        text-align: left;
        padding: 3px;
        font-size: 15px;
    }
    .form-button {
        height: 30px;
        width: 200px;
         border-radius: 5px;
         margin-top: 10px;
         margin-bottom: 20px;
         font-size: 15px;
     }
}
